<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/tipos-de-carne-01-710x473.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mistura</h5>
          <p class="card-text">Carnes</p>
          <a href="#" class="btn btn-primary container-fluid bg-black"(click)="comprar()">Comprar</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/7c44045d2e8577819cb76b2b404902dd.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arroz</h5>
          <p class="card-text">Arroz Soltinho</p>
          
          <a href="#" class="btn btn-primary container-fluid bg-black"(click)="comprar()">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/3002699142d91902ecc8bd862c87b9f4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Feijao</h5>
          <p class="card-text">Feijao Camil</p>
          
          <a href="#" class="btn btn-primary container-fluid bg-black"(click)="comprar()">Comprar</a>
        </div>
    </div>
</div>
